MYSQL_HOST=host.docker.internal
MYSQL_PORT=4406
MYSQL_USER=root
MYSQL_PASSWORD=change-me
MYSQL_DATABASE=smart_stock
MASTER_DB_HOST=host.docker.internal
MASTER_DB_PORT=4406
MASTER_DB_USER=root
MASTER_DB_PASSWORD=change-me
JWT_SECRET=change-me-to-a-long-random-string
